body {
  font-size: 16px;
}
.card {
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}
.card-title {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #e9e9ed;
}
.card-body {
  padding: 0.5rem;
  padding-bottom: 1rem;
}
.button {
  font-size: 1.05rem;
}
.poll, .newquestion, .leaderboard {
  width: 500px;
  margin: 0 auto;
}
.poll-options {
  margin-bottom: 1rem;
}
.newquestion-options {
  margin-bottom: 1rem;
}
.newquestion input {
  width: 90%;
  display: block;
}
.leaderboard-list {
  list-style-type: none;
}
.leaderboard-list li {
  margin-bottom: 1rem;
}