body {
  font-size: 16px;
}
.card {
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}
.card-title {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #bdbdbd;
}
.card-body {
  padding: 0.5rem;
}
.button {
  font-size: 1.05rem;
}
.poll {
  width: 500px;
  margin: 0 auto;
}
.poll-title {
  margin: 0.5rem 0;
}
.poll-options {
  margin-bottom: 1rem;
}
